/****************************/
/***** Global Variables *****/
/****************************/

:root {
	--main-color: #2196f3;
	--alt-color: #1787e0;
	--transition-duration: 0.3s;
}

/************************/
/***** Global Rules *****/
/************************/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Cairo", sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
}

/* small screens */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* medium screens */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* large screens */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/******************/
/***** Header *****/
/******************/

.header {
	background-color: white;
	-moz-box-shadow: 0 0 10px #ddd;
	-webkit-ox-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
	position: relative;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}

.header .logo {
	color: var(--main-color);
	font-size: 30px;
	font-weight: bold;
	height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .main-nav {
	display: flex;
}

.header .main-nav > li > a {
	height: 72px;
	color: black;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0 30px;
	-webkit-transition: var(--transition-duration);
	-moz-transition: var(--transition-duration);
	-ms-transition: var(--transition-duration);
	-o-transition: var(--transition-duration);
	transition: var(--transition-duration);
}

/* hover effects fill border and change bgcolor */

.header .main-nav > li > a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: var(--main-color);
	overflow: hidden;
	top: 0;
	left: -100%;
	-webkit-transition: var(--transition-duration);
	-moz-transition: var(--transition-duration);
	-ms-transition: var(--transition-duration);
	-o-transition: var(--transition-duration);
	transition: var(--transition-duration);
}

.header .main-nav > li > a:hover {
	color: var(--main-color);
	background-color: #fafafa;
	overflow: hidden;
}

.header .main-nav > li > a:hover::before {
	left: 0;
}

/* responsiveness small screens */

@media (max-width: 767px) {
	.header .logo {
		width: 100%;
		height: 50px;
	}

	.header .main-nav {
		margin: auto;
	}

	.header .main-nav > li > a {
		padding: 10px;
		font-size: 14px;
		height: 40px;
	}
}

/*******************/
/***** Landing *****/
/*******************/

.landing {
	position: relative;
}

.landing::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #ececec;
	z-index: -1;
	-webkit-transform: skewY(-6deg);
	-moz-transform: skewY(-6deg);
	-ms-transform: skewY(-6deg);
	-o-transform: skewY(-6deg);
	transform: skewY(-6deg);
	transform-origin: top left;
}

.landing .container {
	min-height: calc(100vh - 72px);
	display: flex;
	align-items: center;
	padding-bottom: 120px;
}

.landing .image img {
	width: 600px;
	max-width: 100%;
}

.landing .text {
	flex: 1;
}

.landing .text h1 {
	font-size: 40px;
	letter-spacing: -2px;
}

.landing .text p {
	font-size: 24px;
	line-height: 1.7;
	margin: 5px 0 0;
	color: #666;
	max-width: 500px;
}

.landing .go-down {
	color: var(--main-color);
	position: absolute;
	bottom: 30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	transition: var(--transition-duration);
	-webkit-transition: var(--transition-duration);
	-moz-transition: var(--transition-duration);
	-ms-transition: var(--transition-duration);
	-o-transition: var(--transition-duration);
}

.landing .go-down:hover {
	color: var(--alt-color);
}

.landing .go-down i {
}
